{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
{{#foreach posts}}
	<h4><a href="{{url}}">{{{title}}}</a> <small><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do, YYYY"}}</time></small></h4>
{{/foreach}}