<h4>About Getscript</h4>
<p>
	Getscript is a site dedicated to Google AdWords Scripts.
	The scripts you find on this blog is free of charge. Feel free to contact us if you
	have any questions.
</p>
<hr>
<p class="text-center">
	<small>
		Handcrafted in <span class="sweden">Sweden</span>
	</small>
</p>
