{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
{{!< default}}
<div class="row">
	<div class="col-sm-8 col-sm-push-2">
		<section class="posts postindex wrapper">
			{{> loop}}
		</section>
		{{pagination}}
	</div>
</div>
<div class="row">
	<div class="col-sm-push-3 col-sm-6 post-footer">
	{{> sidebar}}
	</div>
</div>
{{!> pagination-index}}
