{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
{{!< default}}

{{#post}}
<div class="row">
	<article class="col-sm-8 col-sm-push-2 page-container">
		<h1 class="page-header">{{title}}</h1>
		{{content}}
	</article>
</div>

{{/post}}
